<h2>Hi from index</h2>
<p>This is an open route</p>

<ul>
  <li><%= link_to "Open", open_path %></li>
  <li><%= link_to "Page 1", page_1_path %></li>
  <li><%= link_to "Page 2", page_2_path %></li>
</ul>
