<h2>Hi from Page 2</h2>

<p>This is an authenticated route</p>

<p>Current User Eamil: <%= @current_user["email"] %></p>

<ul>
  <li><%= link_to "index", "/" %></li>
  <li><%= link_to "Open", open_path %></li>
  <li><%= link_to "Page 1", page_1_path %></li>
</ul>
